body {
    font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

#text {
    margin: auto auto;
    background: grey;
    max-width: fit-content;
    padding: 10px 30px;
    font-size: 16px;
}

#construction {
    text-align: center;
    font-size: 24px;
    margin-bottom: -10px;
}
